{% load static %}
<!-- Header and Navigation -->
<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow-sm">
        <a class="navbar-brand" href="{% url 'landing' %}">
            <!-- Site Logo -->
            <img src="{% static 'images/logo.png' %}" alt="Site Logo" style="height: 40px;">
            <span class="ml-2">Stock Portfolio App Home</span>
        </a>

        <!-- Superuser "Update Stocks" Button -->
        {% if user.is_superuser %}
            <a href="{% url 'update_stocks' %}" class="btn btn-outline-light ml-3">Update Stocks</a>
        {% endif %}

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'home' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'about' %}">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'stock_list' %}">Stocks</a>
                </li>
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'profile_details' %}">My Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'portfolio' %}">Portfolio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'simulation' %}">Simulation</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'contact' %}">Contact</a>
                    </li>
                    <li class="nav-item">
                        <form action="{% url 'logout' %}" method="post" class="d-inline">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-outline-light">Logout</button>
                        </form>
                    </li>
                {% else %}

                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">Login</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </nav>
</header>
